@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url(../icons/font-awesome/css/font-awesome.min.css);
@import url(../icons/simple-line-icons/css/simple-line-icons.css);
@import url(../icons/weather-icons/css/weather-icons.min.css);
@import url(../icons/cryptocoins/css/cryptocoins.css);
@import url(../icons/cryptocoins/css/cryptocoins-colors.css);
@import url(../icons/linea-icons/linea.css);
@import url(../icons/ionicons/css/ionicons.css);
@import url(../icons/themify-icons/themify-icons.css);
@import url(../icons/flag-icon-css/flag-icon.min.css);
@import url(../icons/material-design-iconic-font/materialdesignicons.min.css);
@import url(../icons/pe-icon-set-weather/css/pe-icon-set-weather.min.css);
@import url(../plugins/animate/animate.min.css);
@import url(../plugins/metismenu/css/metisMenu.min.css);
@import url(../plugins/bootstrap-select/dist/css/bootstrap-select.min.css);


.dash{
 
  position: relative;
   width: 880px;
   height: 150px;
   border: 0.5px solid gray;
   margin: 10px;
   top: 10;
   right: 4;
  
 }
.form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signin input[type="id"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  

